#about-us {
    position: relative;
    text-align: center;

    background-image: url(../images/bg-section-about-us.jpg);
    background-size: cover;
    background-position: center;
    height: 550px;
    background-repeat: no-repeat;

    .about-text {
        color: map-get($colors, heading-1 );
        width: 80%;
        @include margin-center;
        @include flex-layout-column;
        padding: 6rem 0;

        h3 {
            font-family: $heading-font;
            font-size: 2rem;
            font-weight: 700;
            text-transform: uppercase;
            line-height: $line-height;
        }

        p {
            font-family: $body-font;
            line-height: $line-height;
            width: 70%;
            @include margin-center;
            padding: 2rem 0;
        }

        div {
            margin-top: .5rem;
         }
    }

    a {
        font-family: $body-font;
        color: map-get($colors, heading-1 );
        text-decoration: none;
        border: 2px solid #fff;
        padding: .5rem 1.5rem;
    }

    @media screen and (min-width: $breakpoint-mobile){
        .about-text {
            width: 60%;
            padding: 6rem 0;

            div {
                margin-top: 2rem;
             }
        }

        
    }

    @media screen and (min-width: $breakpoint-tablet) {
        .about-text {
            padding: 9rem 0;

            h3 {
                padding: 0 1rem;
            }
        }
    }
}