footer {
    @include flex-layout-column;
    background-color: map-get($colors, bg-1);
    color: map-get($colors, heading-1);
    font-weight: 500;
    font-size: 1rem;
    padding-bottom: 1.5rem;

    .logo {
        width: 30%;
        padding: 1rem;

        img {
            width: 100%;
        }
    }

    .social_list {
        @include flex-layout-row;
        padding: 1rem;

        a {
            text-decoration: none;
            color: map-get($colors, heading-1);
            text-transform: uppercase;

            p {
                display: block;
                margin: 0 .25rem;
            }

            svg {
                margin: 0 .5rem;
            }

            svg path {
                fill: white;
            }
        }

        .social-icon-1 {
            @include flex-layout-row;
        }

        .social-icon-2 {
            @include flex-layout-row;

            a {
                @include flex-layout-row;
            }
        }

        .copyright {
            width: 100%;
            text-align: center;
            text-transform: uppercase;
            padding: 1.5rem 0 0;
        }

    }

    @media screen and (min-width: $breakpoint-mobile) {

        @include flex-layout-row;
        align-items: flex-end;
        padding: 0 1rem 1.5rem;

        .logo {
            width: 20%;
            padding: .5rem 0 0;
        }

        .social_list {
            width: 70%;
            padding: 1rem 0 0;

            .copyright {
                padding: 1rem 0 0;
            }
        }

       
    }

    @media screen and (min-width: $breakpoint-tablet) {
        padding: 0 4rem 1.5rem 5rem;
        justify-content: space-between;
        font-size: .75rem;

        .logo {
            width: 15%;
            padding: .5rem 0;
        }

        .social_list {
            width: 80%;
            padding: .5rem 0;

            .social-icon-1 {
                width: 15%;
            }
    
            .copyright {
                width: 35%;
                padding: 0;
            }
        }

        @media screen and (min-width: $breakpoint-desktop){
            .logo {
                width: 10%;
            }

            .social_list {
                width: 65%;
                padding: .5rem 0;
    
            }
        }


    }


}