footer {
    @include flex-layout-column;
    background-color: map-get($colors, bg-1);
    color: map-get($colors, heading-1);
    font-weight: 500;
    font-size: 1rem;
    padding-bottom: 1.5rem;

    .logo {
        width: 30%;
        padding: 1rem;

        img {
            width: 150px;
        }
    }

    .social_list {
        @include flex-layout-row;
        padding-top: 1rem;

        a {
            text-decoration: none;
            color: map-get($colors, heading-1);
            text-transform: uppercase;

            p {
                display: block;
                margin: 0 .25rem;
            }

            svg {
                margin: 0 .5rem;
            }

            svg path {
                fill: white;
            }
        }

        .social-icon-1 {
            @include flex-layout-row;
        }

        .social-icon-2 {
            @include flex-layout-row;

            a {
                @include flex-layout-row;
                font-size: 16px;
            }
        }

        .copyright {
            width: 100%;
            text-align: center;
            text-transform: uppercase;
            padding: 1.5rem 0 0;
            font-size: 12px;
        }

    }

    @media screen and (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop){

        @include flex-layout-row;
        align-items: flex-end;
        padding: 0 1rem 1.5rem;

        .logo {
            width: 20%;
            padding: .5rem 0 0;
        }

        .social_list {
            width: 55%;
            padding: 1rem 0 0;

            .copyright {
                padding: 1rem 0 0;
            }
        }
    }

    @media screen and (min-width: $breakpoint-desktop) {
        @include flex-layout-row;
        padding: 0 3rem 1.5rem 3rem;
        justify-content: space-between;
        font-size: .75rem;

        .logo {
            width: 15%;
            padding: .5rem 0;
            img{
                width: 200px;
            }
        }
        

        .social_list {
            width: 60%;
            min-width:660px;
            padding-top: 1.5rem;

            p {
                font-size: 12px;
            }

            .social-icon-1 {
                width: 15%;
            }
    
            .copyright {
                width: 35%;
                padding: 0;
            }
        }
    }
}


