.navbar {
    position:absolute;
    left:0;
    right:0;
    padding: 2% 2%;
    @include flex-layout-row;
    background-color: rgba(34, 34, 34, 0.75);
    font-family: $body-font;
    z-index: 10;
    text-transform: uppercase;
  }

.icon {
  display:none;
}

.logo img {
    width: 150px;
    padding: 0 0.5rem;
  }

/* Responsive Menus */
/* Dropdown Menu */
nav {
    width: 100%;
    height: 0;
    visibility: hidden;
  }
  
  nav ul {
    list-style: none;
    text-align: left;
    font-size: 25px;
  }
  
  nav a {
    text-decoration: none;
    display: block;
    color: white;
    line-height: 50px;
  }
  
  nav.activated {
    transition: height 0.3s ease, visibility 0s 0.3s;
  }
  
  .show nav {
    transition: height 0.3s ease, visibility 0s;
    visibility: visible;
    height: 400px;
    margin-top: 10px;
  }
  
  nav a:hover,
  nav a:active,
  nav a:focus {
    outline: none;
    background-color: #439BD6;
  }
  /* Hamburger Styles */
  .btn-menu {
    margin: 0 20px 20px 0;
    display: block;
    width: 40px;
    background-color: transparent;
    border: none;
    padding: 0;
  }
  
  .btn-menu .button-content {
    display: block;
    height: 24px;
    cursor: pointer;
  }
  
  .btn-menu .text {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
  
  .btn-menu .bar {
    display: block;
    height: 4px;
    width: 100%;
    position: relative;
    top: 10px;
    background-color: white;
    transition: all 0.3s ease-in-out;
  }
  
  .btn-menu .bar:before {
    content: "";
    width: 100%;
    height: 4px;
    top: 10px;
    left: 0;
    background-color: white;
    position: absolute;
    transition: all 0.3s ease-in-out;
  }
  
  .btn-menu .bar:after {
    content: "";
    width: 100%;
    height: 4px;
    top: -10px;
    left: 0;
    background-color: white;
    position: absolute;
    transition: all 0.3s ease-in-out;
  }
  
  .btn-menu:focus {
    outline: none;
  }
  
  .btn-menu:focus .button-content {
    outline: 5px solid #7683c9;
  }
  
  .show .btn-menu .bar {
    background-color: transparent;
  }
  
  .show .btn-menu .bar:before {
    top: 0;
    transform: rotate(45deg);
  }
  
  .show .btn-menu .bar:after {
    top: 0;
    transform: rotate(-45deg);
  }

  @media screen and (min-width: $breakpoint-mobile){
    .navbar {
      background-color: transparent;
      .icon{
        width: 100%;
        visibility: visible;
        position:absolute;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        top:10px;
        .icon_1{
          width:30%;
          @include flex-layout-row;
        }
        .icon_2{
          width:30%;
          @include flex-layout-row;
        }

        a{
          text-decoration: none;
          color:white;
          text-transform: uppercase;
          svg path {
            fill: white;
        }
        }
      }
      .logo { 
        width: 100%;
        padding-top: 50px;
    }

    .logo img{
        width: 200px;
        display:block;
        margin-left: auto;
        margin-right: auto; 
    }

    .btn-menu {
      display: none;
    }
  
    nav {
      display:block;
      margin-left: auto;
      margin-right: auto;
      width: 95%;
      visibility: visible;
    }

    nav ul {
      background-color: rgba(34, 34, 34, 0.75);
      position: relative;
      top:50px;
      display: flex;
      justify-content: space-around;
      padding: 0.5rem;
      font-size: 20px;
    }
  
    nav a {
      border: none;
    }

    li.navnone {
      display:none;
    }
    }

    

    
}

@media screen and (min-width: $breakpoint-desktop) {
  nav {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    visibility: visible;
  }

}