#product-advisor {
    background-color: map-get($colors, heading-2);
    
    h2 {
        font-family: $heading-font;
        font-weight: 700;
        font-size: $heading-size;
        text-transform: uppercase;
        text-align: center;
        color: map-get($colors, heading-1);
        padding: 2rem 0;
        margin: 0;
    }

    p, label, .find-btn {
        font-family: $body-font;
        text-align: center;
        color: map-get($colors, heading-1); 
        padding-bottom: $padding;
    }

    label {
        font-size: .9rem;
        font-weight: 500;
        text-transform: uppercase;
    }

    form {
        display: block;
        margin: 0 1rem;

        label, select {
            display: block;
            width: 100%;
            text-align: left;
            padding: .5rem 0;
        }

        select {
            padding: .5rem .25rem;
            background-color: rgb(165, 163, 163);
            color: map-get($colors, heading-3);
            position: relative;
            -webkit-appearance: none;
	        -ms-appearance: none;
		    appearance: none;
        }

        select:focus {
            background-color: map-get($colors, heading-1);
            outline: none;
        }

        .select-wrapper {
            position: relative;
        }

        .select-wrapper-1 {
            position: relative;
        }

        .select-wrapper:after {
            position: absolute;
            content: '▾';
            font-size: 1.5rem;
            color: map-get($colors, heading-3);
            top: 3px;
            right: 23px;
            width: 0;
            height: 0;
            pointer-events: none;
          }

          .select-wrapper-1:after {
            position: absolute;
            content: '▾';
            font-size: 1.5rem;
            color: map-get($colors, heading-1);
            top: 3px;
            right: 23px;
            width: 0;
            height: 0;
            pointer-events: none;
          }

        .find-btn input {
            display: block;
            width: 100%;
            background-color: map-get($colors, bg-1); 
            color: map-get($colors, heading-1); ;
            padding: .75rem;
            text-transform: uppercase;
            border: none;
        }

    }



    @media screen and (min-width: $breakpoint-mobile) {
        hr {
            width: 95%;
        }

        p {
            color: map-get($colors, bg-1); 
         }

        form {
           @include flex-layout-row;
           justify-content: flex-start;

            .form-row {
                width: calc(50% - 1rem);
                margin: 0 .5rem;
            }

            .find-btn {
                display: block;
                width: 100%;
                margin: 1.5rem 0;
                padding: 0 .25rem;
            }

            .select-wrapper:after {
                color: map-get($colors, bg-1);
              }
        }
    }

    @media screen and (min-width: $breakpoint-tablet){
        form {
            @include flex-layout-row;
            justify-content: space-around;
 
            .form-row {
                width: calc(20% - 1rem);
            }
 
         }

    }
}