//font variables
$body-font: 'Roboto', sans-serif;
$heading-font: 'Roboto Condensed', sans-serif;
$line-height: 1.4;
$heading-size: 2rem;
$text-size: 1.5rem;

//padding
$padding: 1rem;

//colors
$colors: (
    heading-1: #fff,
    heading-2: #244A64,
    heading-3: #504F4F,
    text: #000,
    bg-1: #439BD6,
    bg-2: #BDDCEF,

);

//utlity varaibles
$img-full: 100%;

//media query breakpoints:
$breakpoint-mobile: 640px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;